@model YourPhotoKit.Models.TripModels.AddTripGearViewModel

@{
    ViewData["Title"] = "Details";
}

<h3 style="text-align: center"><span style="font-weight: 700">@Model.Trip.Title</span> Trip Details</h3>

<div class="card text-left" style="margin-left: 10px; flex-basis: 60%; margin-right: 20px; margin-bottom: 0px;">
    <p style="margin: auto; text-align: center;">

        <object data="~/images/@Model.Trip.PhotoUrl" type="image/jpg" style="margin: auto; margin-top: 10px; width: 600px">
            <img style="width:60%; height:auto; margin-top: 10px;" src="~/images/trip_placeholder.png" />
        </object>
    </p>
    <div class="card-body">
        <div class="card-header" style="margin-left: -15px; margin-bottom: 5px;">
            <h5><strong>@Html.DisplayFor(modelitem => Model.Trip.Title)</strong></h5>
        </div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Trip.Description)
            </dt>

            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Trip.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Trip.StartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Trip.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Trip.EndDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Trip.EndDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Trip.GalleryUrl)
            </dt>
            @if (Model.Trip.GalleryUrl == null)
            {
                <dd class="col-sm-10">
                    Click Edit below to add a photo gallery for this trip.
                </dd>
            }
            else
            {
            <dd class="col-sm-10">
                <a href="@Html.DisplayFor(model => model.Trip.GalleryUrl)">Link to Photos</a>
            </dd>
            }
            @if (Model.Trip.UserComments == null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Trip.UserComments)
                </dt>
                <dd class="col-sm-10">
                    You do not currently have any comments for this trip.
                </dd>
            }
            else
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Trip.UserComments)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Trip.UserComments)
                    @*<a href="@Html.DisplayFor(model => model.Trip.UserComments)">Link to Photos</a>*@
                </dd>

            }

        </dl>


        @if (Model.PickedItems.Count == 0)
        {
        <dl class="row">
            <dt class="col-sm-2">
                Gear Items Packed:
            </dt>
            <dd class="col-sm-10">
                <p>You do not currently have any gear for this trip.</p>
            </dd>
        </dl>
             

        }
        else
        {
            <p class="card-text"><strong>Gear Items Packed: </strong></p>
            @foreach (var item in Model.PickedItems)
            {
                <ul class="list-group list-group-flush" style="width: 300px;">
                    <li class="list-group-item" style="padding-top: 2px; padding-bottom: 2px;"><a href=@Url.Action("Details", "GearItems", new { Id = item.GearItemId })>@item.GearItem.Title</a></li>
                </ul>

            }
        }
    </div>
    <div class="card-footer">

        <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@Model.Trip.TripId">Edit Details</a> 
        @if (Model.PickedItems.Count == 0)
        {
            <a class="btn btn-sm btn-primary" asp-action="TripGearIndex" asp-route-id="@Model.Trip.TripId">Add Gear To This Trip</a>
            
        }
        else
        {
            <a class="btn btn-sm btn-warning" asp-action="TripGearIndex" asp-route-id="@Model.Trip.TripId">Edit Gear for this Trip</a>
            
        }
        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@Model.Trip.TripId">Delete</a> 
        <a class="btn btn-sm btn-light" asp-action="Index">Back to List</a>
    </div>
</div>

@*<div style="text-align: center;">
    <h5>Image Gallery</h5>
    <h7>Upload images from this trip here</h7>
</div>
<div class="row">
    <div class="col-md-5" style="margin: auto; padding-top: 15px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Img"></label>
                <input asp-for="Img" type="file">
                <span asp-validation-for="Img"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" asp-page-handler="Upload" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

