@model YourPhotoKit.Models.TripModels.AddTripGearViewModel

@{
    ViewData["Title"] = "Details";
}

<h3>Trip Details</h3>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trip.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trip.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trip.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trip.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trip.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trip.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trip.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trip.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trip.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trip.Location)
        </dd>

        @if (Model.Trip.UserComments == null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Trip.UserComments)
            </dt>
            <dd class="col-sm-10">
                <p>You do not have any comments for this trip.</p>
            </dd>

        }
        else
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Trip.UserComments)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Trip.UserComments)
            </dd>
        }

        @if (Model.PickedItems.Count == 0)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PickedItems)
            </dt>
            <dd class="col-sm-10">
                <p>You do not currently have any gear for this trip.</p>
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GearForTrip.GearItem)
            </dt>
            <dd class="col-sm-10">
                @foreach (var item in Model.PickedItems)
                {
                    <p style="margin-bottom: 0px">@item.GearItem.Title</p>
                }
                @*<a class="text-center" asp-action="TripGearIndex" asp-route-id="@Model.Trip.TripId">You have gear! Edit it here</a>*@

            </dd>
        }

    </dl>

    @if (Model.PickedItems.Count == 0)
    {
        <a class="text-center" asp-action="TripGearIndex" asp-route-id="@Model.Trip.TripId">Add Gear To This Trip</a>
        <hr />
    }
    else
    {
        <a class="text-center" asp-action="TripGearIndex" asp-route-id="@Model.Trip.TripId">Edit Gear for this Trip</a>
        <hr />
    }

</div>
<div>

    <a asp-action="Edit" asp-route-id="@Model.Trip.TripId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
