@model IEnumerable<YourPhotoKit.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h3 style="text-align: center">Your Trips</h3>
@*<p style="text-align: center">Here is a list of your trips.</p>*@

<p style="text-align: center;">
    <a class="btn btn-sm btn-outline-light" asp-action="Create" style="text-align: center; color: whitesmoke;">Add a new trip</a>
</p>


@if (Model.ToList().Count == 0)
{
    <p>You currently do not have any trips to show. Create a trip and pack some gear!</p>
}
else
{
    <br />
    @foreach (var item in Model)
    {
        if (item.EndDate >= DateTime.Today)
        {
            <div class="card text-left" style="margin-left: 10px; flex-basis: 70%; margin-right: 20px; margin-bottom: 10px;">
                <div class="card-header">
                    Upcoming Trip
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelitem => item.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelitem => item.Description)</p>
                    <p class="card-text">@Html.DisplayFor(modelitem => item.StartDate)</p>
                    
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-outline-light" asp-action="Details" asp-route-id="@item.TripId">Details</a> |
                    <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@item.TripId">Edit</a> |
                    <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.TripId">Delete</a>
                </div>
            </div>
        }
    }
    <hr>

    @foreach (var item in Model)
    {
        if (item.EndDate <= DateTime.Today)
        {
            <div class="card bg-light mb-3" style="margin-left: 10px; flex-basis: 70%; margin-right: 20px; margin-bottom: 10px;">
                <div class="card-header">
                    Past Trip
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelitem => item.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelitem => item.Description)</p>
                   
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
                <div class="card-footer" style="color: whitesmoke;">
                    <a class="btn btn-sm btn-outline-light" asp-action="Details" asp-route-id="@item.TripId">Details</a> |
                    <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@item.TripId">Edit</a> |
                    <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.TripId">Delete</a>
                </div>
            </div>
        }
    }
}
