@model IEnumerable<YourPhotoKit.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h2 style="text-align: center">Your Trips</h2>
<p style="text-align: center">Here is a list of your trips.</p>

<p>
    <a asp-action="Create">Add a new trip</a>
</p>


@if (Model.ToList().Count == 0)
{
    <p>You currently do not have any trips to show. Create a trip and pack some gear!</p>
}
else
{
    <br />
    <div>
        <h5>Upcoming Trips</h5>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th width="27%">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th width="43%">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.EndDate >= DateTime.Today)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TripId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.TripId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.TripId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    <div>
        <h5>Past Trips</h5>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th width="27%">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th width="43%">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.EndDate <= DateTime.Today)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TripId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.TripId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.TripId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
