@model YourPhotoKit.Models.TripGearViews.AddGearToTripViewModel

@{
    ViewData["Title"] = "TripGearIndex";
}

<h3>Add Gear To This Trip</h3>
<div class="container">
<div>
    <table class="table table-sm w-25">
        <thead>
            <tr>
                <th>
                    <h6 style="text-align: center">Your Available Gear</h6>
                </th>

            </tr>
        </thead>
        <tbody>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (TempData["notice"] != null)
            {
                <p style="color:red;">@TempData["notice"]</p>
            }

            @foreach (var item in Model.GearItems)
            {

                <tr>
                    <td width="90%">
                        <span style="text-decoration:line-through">@Html.DisplayFor(modelItem => item.Title)</span>
                    </td>
                    <td width="10%">
                        <form asp-action="AddTripGear" asp-controller="Trips">

                            <input label="TripId" type="hidden" asp-for="Trip.TripId" />
                            <input name="GearItemId" type="hidden" value="@item.GearItemId" />
                            <input type="submit" value="Add" class="btn-sm btn-primary" />
                        </form>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<div>
    <table class="table table-sm w-25">

        <thead>
            <tr>
                <th>
                    <h6 style="text-align: center">Your Packed Gear</h6>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PickedItems)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GearItem.Title)
                    </td>
                    <td width="10%">
                        <form asp-action="RemoveTripGear" asp-controller="Trips">

                            <input label="TripId" type="hidden" asp-for="Trip.TripId" />
                            <input name="GearItemId" type="hidden" value="@item.GearItemId" />
                            <input type="submit" value="Remove" class="btn-sm btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    


</div>
</div>
<hr />
<a asp-action="Details" asp-route-id="@Model.Trip.TripId">Go Back</a>