@model YourPhotoKit.Models.GearItem

@{
    ViewData["Title"] = "Delete";
}

<h3 style="text-align: center; color: whitesmoke; margin: auto;">Delete Your Gear</h3>

<h6 style ="text-align: center; color: whitesmoke; margin: auto;"> Are you sure you want to delete this?</h6>
<div>
    
    <hr />
    <dl class="row" style="background-color: whitesmoke; color: black; margin: auto; padding-top: 15px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; max-width: 700px">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DatePurchased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePurchased)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
    </dl>

    <form style="text-align: center; margin: auto;" asp-action="Delete">
        <input type="hidden" asp-for="GearItemId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="back_index" asp-action="Index">Back to List</a>
    </form>
</div>
