@model YourPhotoKit.Models.GearItem

@{
    ViewData["Title"] = "Details";
}

<h3 style="text-align:center; color: gainsboro;">Gear Details</h3>

<div class="card-deck" style="max-width: 700px; margin:auto">
    <div class="card" style="width: 25rem;">
        <p style="margin: auto;">
            <object data="~/images/@Model.PhotoUrl" type="image/jpg" style="margin:auto;">
                <img style="width:100%; height:auto;" src="~/images/placeholder_gear.jpeg" />
            </object>
        </p>
        <div class="card-body">
            <h4 class="card-title" style="margin-bottom: 5px;">@Html.DisplayFor(model => model.Title)</h4>
            <small class="text-muted">@Html.DisplayFor(model => model.gearType.Label)</small>
            <p class="card-text">
                @Html.DisplayFor(model => model.Description)
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@Html.DisplayNameFor(model => model.Cost): @Html.DisplayFor(model => model.Cost)</li>
                <li class="list-group-item">@Html.DisplayNameFor(model => model.DatePurchased): @Html.DisplayFor(model => model.DatePurchased)</li>
                <li class="list-group-item">@Html.DisplayNameFor(model => model.SerialNumber):  @Html.DisplayFor(model => model.SerialNumber)</li>
            </ul>
            @*<h5>Trips:</h5>
                @foreach (var item in Model.trips)
                {
                    <ul class="list-group list-group-flush" style="width: 300px;">
                        <li class="list-group-item" style="padding-top: 2px; padding-bottom: 2px;">@item.Title</li>
                    </ul>
                }*@
        </div>
        <div class="card-footer" style="text-align: center">
            <small>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@Model.GearItemId">Edit</a> |
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@Model.GearItemId">Delete</a> |
                <a class="btn btn-sm btn-light" asp-action="Index">Back to List</a>
            </small>
        </div>
    </div>
</div>