@model YourPhotoKit.Models.GearItem

@{
    ViewData["Title"] = "Details";
}

    <h3 style="text-align:center; color: gainsboro;"><span style="font-weight:700">@Model.Title</span> Details</h3>

<div class="card-deck" style="max-width: 700px; margin:auto">
    <div class="card" style="width: 25rem;">
        <p style="margin: auto;">
            <object data="~/images/@Model.PhotoUrl" type="image/jpg" style="margin:auto;">
                <img style="width:100%; height:auto; margin-top: 10px" src="~/images/placeholder_gear.jpeg" />
            </object>
        </p>
        <div class="card-body">
            <h4 class="card-title" style="margin-bottom: 5px; font-weight: 700">@Html.DisplayFor(model => model.Title)</h4>
            <small class="text-muted">@Html.DisplayFor(model => model.gearType.Label)</small>
            <p class="card-text">
                @Html.DisplayFor(model => model.Description)
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@Html.DisplayNameFor(model => model.Cost): @Html.DisplayFor(model => model.Cost)</li>
                <li class="list-group-item">@Html.DisplayNameFor(model => model.DatePurchased): @Html.DisplayFor(model => model.DatePurchased)</li>
                <li class="list-group-item">@Html.DisplayNameFor(model => model.SerialNumber):  @Html.DisplayFor(model => model.SerialNumber)</li>
            </ul>
            <h6 style="margin-top: 5px;">Trips packed with your <span style="font-weight: 700">@Model.Title</span>:</h6>
            @if (Model.TripGear != null)
            {
                foreach (var item in Model.TripGear)
                {

                    <ul class="list-group list-group-flush" style="width: 300px;">
                        @*<a href=@Url.Action("Details", "GearItems", new { Id = item.GearItemId })>@item.GearItem.Title</a></li>*@
                        <li class="list-group-item" style="padding-top: 2px; padding-bottom: 2px;"><a href=@Url.Action("Details", "Trips", new { Id = item.TripId })><i class="fas fa-suitcase" title="@ViewBag.tripName"></i></a></li>
                    </ul>
                }
            }
           

        </div>
        <div class="card-footer" style="text-align: center">
            <small>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@Model.GearItemId">Edit</a> |
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@Model.GearItemId">Delete</a> |
                <a class="btn btn-sm btn-light" asp-action="Index">Back to List</a>
            </small>
        </div>
    </div>
</div>