@model IEnumerable<YourPhotoKit.Models.GearItem>

@{
    ViewData["Title"] = "Index";
}

<h3 style="text-align: center; margin-bottom: 0px; color: whitesmoke; font-weight: 700">Your Photo Kit</h3>
<h6 style="text-align: center">Here is your gear. Be sure to add any new additions to your kit here.</h6>

<p style="text-align: center; margin-top: 10px;">
    <a class="btn btn-sm btn-outline-light" asp-action="Create" style="text-align: center; color: whitesmoke; margin-bottom: 15px;">Add Gear</a>
</p>

@if (Model.ToList().Count == 0)
{
<div style="margin: auto; text-align: center; margin-top: 50px;">
    <i class="fas fa-camera fa-3x" style="text-align: center; margin-bottom: 10px;"></i>
    <h5 style="margin: auto; text-align: center;"> Let's add some gear to your kit!  Click the link above to add some new gear.</h5>
</div>
}
else
{
<div style="display: flex; flex-wrap: wrap; justify-content:center;">

    @foreach (var item in Model)
    {
       <div class="card mb-3" style="max-width: 700px; margin-bottom: 18px; box-shadow: 3px 3px 11px #000000; border-radius: 10px">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <p style="margin: auto;">
                        <object data="~/images/@item.PhotoUrl" type="image/jpg" style="margin:auto; width: 100%;">
                            <img style="width:100%; margin:auto; height: 50%;" src="~/images/placeholder_gear.jpeg" />
                        </object>
                    </p>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-bottom: 0px; font-weight: 700">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <small class="text-muted">@Html.DisplayFor(modelItem => item.gearType.Label)</small>
                        <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
                        <div class="card-footer">
                            <small class="text-muted">
                                <a class="btn btn-sm btn-outline-light" asp-action="Details" asp-route-id="@item.GearItemId">Details</a> |
                                <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@item.GearItemId">Edit</a> |

                                <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.GearItemId">Delete</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }


</div>
}




