@model IEnumerable<YourPhotoKit.Models.GearItem>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center; margin-bottom: 0px; color: gainsboro;">Your Photo Kit</h1>


<h6 style="text-align: center">
    <a asp-action="Create" style="text-align: center; color: gainsboro">Add Gear</a>
</h6>

@if (Model.ToList().Count == 0)
{
    <p> Let's add some gear to your kit!  Click the link above to add some new gear.</p>
}
else
{
<div style="display: flex; flex-wrap: wrap; justify-content:center;"> 
   
        @foreach (var item in Model)
        {
            <div class="card-deck" style="width: 200px; height: auto; margin-left: 10px; flex-basis: 70%; margin-right: 10px; margin-bottom: 10px;";>
                <div class="card">
                <div></div>
                    <div class="card-body">
                        <h4 class="card-title" style="margin-bottom: 5px;">@Html.DisplayFor(modelItem => item.Title)</h4>
                        <h6>@Html.DisplayFor(modelItem => item.gearType.Label)</h6>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                        <div class="card-footer">
                            <small class="text-muted">
                                <a class="btn btn-sm btn-outline-light" asp-action="Details" asp-route-id="@item.GearItemId">Details</a> |
                                <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@item.GearItemId">Edit</a> |

                                <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.GearItemId">Delete</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>

        }

</div>
}




