@model IEnumerable<YourPhotoKit.Models.GearItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Your Kit</h1>

<p>
    <a asp-action="Create">Add Gear</a>
</p>

@if (Model.ToList().Count == 0)
{
    <p> Let's add some gear to your kit!  Click the link above to add some new gear.</p>
}
else
{

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePurchased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePurchased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GearItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GearItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GearItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
