@model IEnumerable<YourPhotoKit.Models.GearItem>


@{
    ViewData["Title"] = "Index";
}

<h3 style="text-align: center">Your Gear Report</h3>
<p style="text-align: center">Here is a list of your gear with more details and a total value of your purchased gear.</p>
<br />
<div style="text-align: center">
    <form asp-controller="Reports" asp-action="Index" method="get">
        <p>
            <input type="text" name="SearchString" placeholder="Search for gear or filter by year" size="65">
            <input type="submit" value="Search" class="btn btn-sm btn-primary" />
            <input type="button" title="submit" value="Clear" onclick="location.href='@Url.Action("Index", "Reports")'" class="btn btn-sm btn-warning" />

        </p>

    </form>


</div>
@if (Model.ToList().Count == 0)
{
    <p>No results matching your seach. Please try again.</p>
}
else
{
    <table class="table table-bordered table-hover" id="resultsTable">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatePurchased)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </th>

            </tr>
        </thead>
        <tbody class="">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href=@Url.Action("Details", "GearItems", new { Id = item.GearItemId })>@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatePurchased)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialNumber)
                    </td>

                </tr>
            }
        </tbody>
        @{var totalPrice = @Model.Sum(i => i.Cost); }
        <tfoot>
            <tr>
                <td>

                    <h5>Total Cost at Purchase: $@String.Format("{0:n}", totalPrice)</h5>

                </td>
            </tr>
        </tfoot>
    </table>

}

<div class="btn btn-sm btn-primary"style="text-align: center;"><a href="javascript:window.print()">Click to Print This Page</a></div>
@*<a class="btn btn-sm btn-primary" asp-action="PrintPDF" asp-controller="Reports">Print as PDF</a>*@


